/* Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap");

/* Desctop-version */
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

img {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

/* header start */
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 90px; 
    background-color: #0C0C0E;
   
}

.header-item {
    margin: 20px;
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
}

.header-profile__caption {
    position: relative;
    display: none;

}

.header-profile__caption_auth {
    position: relative;
    display: block;
}

.header-profile {
    display: block;
    width: 28px;
    height: 28px;
    padding: 10px;
    background: url(../images/SVG/icon_profile.svg) no-repeat center;
    background-size: cover;
    transition: 0.5s;
}

.header-profile_auth {
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    padding: 4px;
    margin: 20px;
    color: #BB945F;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 50%;
    background: #ffffff;
    transition: 0.5s;
}

.header-profile__caption:hover .header-profile {
    opacity: 0.6;
    cursor: pointer;
}

.header-profile__caption_auth:hover .header-profile_auth {
    opacity: 0.6;
    cursor: pointer;
}

.header-profile__dropdown-menu {
    position: absolute;
    right: 1px;
    z-index: 1;
    display: none;
    flex-direction: column;
    padding: 5px 10px 10px 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background-color: #ffffff;
    opacity: 0;
}

.header-profile__dropdown-menu_auth {
    position: absolute;
    right: 1px;
    z-index: 1;
    display: none;
    flex-direction: column;
    padding: 5px 10px 10px 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background-color: #ffffff;
    opacity: 0;
}

.header-profile__caption:hover .header-profile__dropdown-menu {
    display: flex; 
    animation: ani 0.5s ease forwards;
}

.header-profile__caption_auth:hover .header-profile__dropdown-menu_auth {
    display: flex; 
    animation: ani 0.5s ease forwards;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.dropdown-menu__heading {
    position: relative;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 20px;
}

.dropdown-menu__heading::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 40px;
    height: 1px;
    background-color: #BB945F;
    content: "";
}

.option-caption {
    margin-bottom: 10px;
}

.dropdown-menu__option {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    padding-bottom: 10px;
    transition: 0.2s all;
}

.option-caption:hover .dropdown-menu__option {
    color: #BB945F;
    cursor: pointer;
} 

.header-profile__dropdown-menu_auth {
    display: none;
    /* display: flex; */
    position: absolute;
    right: 1px;
    z-index: 1;
    flex-direction: column;
    padding: 5px 10px 10px 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background-color: #ffffff;
    opacity: 0;
}

.header-profile__dropdown-menu_auth-on-hover {
    display: flex; 
    animation: ani 0.5s forwards;
}

.header-title {
    margin: 20px auto 20px 20px;
}

.header-title__text {
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
   
}

ul {
    list-style-type: none;
}

.header-menu__header-list {
    display: flex;
    justify-content: space-between;
    gap: 30.5px;
}

.header-menu__link {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    transition: 0.2s all;
}

.header-menu__link:hover {
   color: #BB945F;
}

.header__burger {
    display: none;
    width: 45px;
    height: 20px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    left: 0;
}

.burger__line-first {
    top: 0;
}

.burger__line-second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line-third {
    bottom: 0;
}



/* header end */
/* intro start */
/* POPUP start */
.popup {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    display: none; /*flex*/
    width: 100%;
    height: 100%;
    background-color: rgba(85, 71, 61, 0.901);;
    transition: 0.2s all;
}

.popup-card {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.3px;
}
.popup-button {
    box-sizing: content-box;
    padding: 7.5px 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    transition: 0.2s all;
}

.register-form__button {
    padding: 7.5px 14.25px;
}

.popup-button:enabled:hover {
    background: #BB945F;
    border: 1px solid #BB945F;
    border-radius: 2px;
    cursor: pointer;
}

.popup__log-in-card {
    position: relative;
    z-index: 11;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: none;     /*flex*/
    flex-direction: column;  
    width: 250px;
    height: fit-content;
    padding: 20px 25px;
    background-color: white;
}

.popup__register-card {
    position: relative;
    z-index: 11;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: none;     /*flex*/
    flex-direction: column;  
    width: 250px;
    height: fit-content;
    padding: 20px 25px;
    background-color: white;

}

.popup-card-header {
    position: relative;
    font-family: Forum; 
    font-size: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    padding: 10px;

}

.button-strokes {
    position: relative;
    width: 100%;
    height: 100%;
}

.button-strokes::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    display: block;
    width: 19px;
    height: 3px;
    background-color: #0C0C0E;
    content: '';
}

.button-strokes::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    position: absolute;
    display: block;
    width: 19px;
    height: 3px;
    background-color: #0C0C0E;
    content: '';
}

.log-in-form__wrap, .register-form__wrap {
    border: none;
    text-align: left;

}


.user-login-input-desc, .user-register-input-desc {
    display: inline;
}

.log-in-form__field, .register-form__field {
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    margin: 10px 0px;
    padding: 0px 5px;
    border: 1px solid #BB945F;
    border-radius: 0;

}

.log-in-form__field:focus-visible, .register-form__field:focus-visible {
    outline-color: #BB945F;
    outline-style: solid;
    outline-width: 1px;
}

.register-option, .log-in-option {
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register-option__link, .log-in-option__link {
    color: #000;
    padding-left: 7px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration-line: underline;
    transition: 0.2s all;
}

.register-option__link:hover, .log-in-option__link:hover {
    color: #BB945F;
}

/* PROFILE CARD */

.popup__profile-card {
    position: relative;
    z-index: 11;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: none;  /* flex*/
    flex-direction: row;
    width: 600px;
    height: 400px;
    background: #FFF;
}

.user-profile-name {
    display: flex;
    justify-content: center;
    flex-basis: 28.35%;
    background-color: #0C0C0E;
    padding-top: 116px;
    padding-bottom: 139px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.user-profile-name__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile-name__avatar {
    margin: 15px 20px;
    width: 80px;
    height: 80px;
    text-transform: uppercase;
    color: #BB945F;
    background-color: #ffffff; 
}

.user-profile-name__user-name {
    position: relative;
    height: 38px;
    width: 120px;
    padding: 8px;
    text-transform: capitalize;
    background: #ffffff;
    color: #000000 ;
}

.user-profile-name__avatar-image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.user-profile-info {
    flex-basis: 71.65%;
    background-color: #FFFFFF;
}

.user-profile-info__wrap {
    padding: 31px 20px 40px;
}

.user-profile-info__heading {
    margin-bottom: 40px;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-align-last: left;
    text-transform: uppercase;
}

.user-profile-info__stats {
    display: flex;
    justify-content: start;
    column-gap: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.user-profile-info__stats .user-stats__visits {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0 5px 0 5px;

}

.user-profile-info__stats .user-stats__visits:first-of-type {
    padding-left: 0;
}

.user-profile-info__stats .user-stats__bonuses {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0 5px 0 5px;
}

.user-profile-info__stats .user-stats__books {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0 5px 0 5px;
}

.user-profile-info__stats .block-icon {
    width: 20px;
    height: 21px;
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
}

.user-profile-info__stats .block-header {
    display: block;
    margin-bottom: 11px;
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 20px; /* 200% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.user-profile-info__stats .block-value {
    display: block;
    color: #000000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 20px; /* 200% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.user-profile-info__stats .user-stats__visits-ico{
    align-self: center;
    background: url(../images/SVG/visits-icon.svg) no-repeat center;
    background-size: cover;
}

.user-profile-info__stats .user-stats__bonuses-ico {
    align-self: center;
    background: url(../images/SVG/bonuses-icon.svg) no-repeat center;
    background-size: cover;
}

.user-profile-info__stats .user-stats__books-ico {
    align-self: center;
    background: url(../images/SVG/books-icon.svg) no-repeat center;
    background-size: cover;
}

.user-profile-info__rented-books {
    margin-bottom: 40px;
    text-align: start;
}

.rented-books__heading {
    margin-bottom: 30px;
    color: #0C0C0E;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
}

.rented-books__rented-book-info {
    margin-left: 26.5px;
    margin-bottom: 10px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
    list-style-type: disc;
}

.book {
    padding-left: 2px;
}

.user-profile-info__card-number {
    display: flex;
    justify-content: start;
    column-gap: 13px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
}

.card-number {
    color: #BB945F;
    text-transform: uppercase;
}

.copy-ico__button {
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    height: 12px;
    padding: 5px;
    transition: 0.2s all;
    
}

.copy-ico__button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.copy-ico__icon {
    vertical-align: top;
    width: 12px;
    height: 12px;
}

/* LIBRARY CARD PURCHASE */

.popup__buy-card {
    position: relative;
    z-index: 11;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: none; /*flex*/
    flex-direction: column;
    width: 650px;
    height: fit-content;
    background-color: #ffffff;
}

.buy-card-close-wrap {
    top: 15px;
    right: 15px;
}

.buy-card-close::before, .buy-card-close::after {
    background-color: #ffffff;
}
.popup__buy-card-heading {
    width: 100%;
    height: 60px;
    background-color: #0C0C0E;
}

.buy-card-heading-text {
    position: relative;
    margin: 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 40px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.popup__buy-card-block {
    display: flex;
    height: fit-content;
    column-gap: 40px;
    padding: 30px 40px 40px;

}

.purchase-form-block__wrap {
    width: 200px;
}

.purchase-form-inputs {
    border: none;
}

.buy-card-block__inputs-group {
    text-align: start;
}

.purchase-input {
    width: 200px;
    margin: 10px 0;
    border: 1px solid #BB945F;
    padding-left: 5px;
}

.purchase-input:focus-visible {
    outline-color: #BB945F;
    outline-style: solid;
}

.purchase-form__expiration-code, .purchase-form__cvc {
    display: inline-block;
    width: 45px;
}

.purchase-form__cvc, .purchase-form__location {
    margin-bottom: 20px;
}

.buy-card__button {
    padding: 7.2px 25.9px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-right: 22px;
}

.buy-card__price {
    vertical-align: bottom;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.purchase-info-block__text {
    text-align: start;
    color: #8E8E8E;
    letter-spacing: 2px;
}

/* POPUP end */
.intro__bg {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    height: 600px;
    margin-bottom: 20px;
    background: url(../images/Welcome.jpg) no-repeat, center;
    background-size: cover;
    
}

.intro__welcome-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    margin: 220px auto 160px 0;
    background-color: #0C0C0E;
    
}

.intro__welcome-text {
    color: #ffffff;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 3px;
    text-transform: uppercase;
}

.welcome-text {
    padding-right: 10px
}

.library-text {
    padding-left: 3px;
}

/* intro end */
/* about start */
.about-wrapper {
    display: block;
    max-width: 100%;
    /* height: 817px; */
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.section-title {
    position: relative;
    padding-left: 2px;
    margin-bottom: 61px;
    text-align: center;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
    
}

.section-title::after {
    position: absolute;
    bottom: -20.5px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    content: "";
}

.about__desc{
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    
}

/* slider-js */
.about__slider {
    width: auto; 
    position: relative;
    max-width: calc((450px * 3) + (25px * 2));
    overflow: hidden;
}

/* slider-line-js */
.about__slider-images {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    height: auto;
    width: auto;
    left: 0;
    transition: all ease 1s;
}

.about__slider-img {
    display: block;
    max-width: 450px;
}

.slider-pagination {
    position: relative;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 26px);
    column-gap: 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    width: 78px;
    height: 26px;
}

.pagination-element-wrap {
    width: 26px;
    height: 26px;
    padding: 5px;
}

.pagination-element-wrap:hover {
    cursor: pointer;
}

.slider-pagination-element {
    display: inline-block;
    justify-self: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000000; 
    transition: 0.5s all;
}

.slider-pagination-element.current {
    background-color: #BB945F;
}

/* about end */
/* faforites section start */
.favorites-wrapper {
    display: block;
    max-width: 100%;
    /* height: auto; */
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;;
}

.favorites__title {
    letter-spacing: 2px;
}

.form-season__caption {
    margin-bottom: 35px;
    border: none;
    
}

.form-season__title {
    margin-bottom: 35px;
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.form-season__inputs {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, auto);
    justify-content: start;
    column-gap: 80px;
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-season__inputs label {
    padding: 5px;
    transition: 0.2s all;  
}

.form-season__inputs label:hover{
    cursor: pointer;
}

.form-season__inputs label:first-of-type {
    padding-left: 0px;
}

.form-season__inputs label:hover {
    color:  #BB945F;   
}

.form-season__radio[type="radio"] {
    flex-shrink: 0; 
    width: 17px;
    height: 17px;
    margin-right: 20px;
    margin-bottom: 3px;
    stroke-width: 2px;
    stroke: #000000;
    vertical-align: middle;
}

.form-season__radio[type="radio"]:checked {
    accent-color: #000000;
}

.form-season__radio[type="radio"]:checked ~ span {
    font-weight: 700;
}

.form-season__radio[type="radio"]:hover {
    background-color: #BB945F;
    cursor: pointer;
}

.favorites__books {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    justify-content: space-between;
    padding-right: 40px;
    width: 100%;
}

.favorites__books#winter-picks {
    display: flex;
}

.favorites__books#spring-picks {
    display: none;
}
.favorites__books#summer-picks {
    display: none;
}
.favorites__books#autumn-picks {
    display: none;
}   

.books__book-caption {
    position: relative;
    display: block;
}

.book-caption__wrap {
    position: relative;
    justify-self: start;
    height: 555px;
    width: 550px;
    padding: 15px 15px 15px 19.5px;
    border: 1px solid rgb(61, 61, 61);
}

.book-caption__wrap:nth-child(2), 
.book-caption__wrap:nth-child(4) {
    position: relative;
    justify-self: end;
    height: 555px;
    width: 550px;
    padding: 15px 15px 15px 19.5px;
    border: 1px solid rgb(61, 61, 61);
}

.aside-title {
    position: relative;
    margin-bottom: 20px;
    color: #000000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; 
    letter-spacing: 2px;
    text-transform: capitalize; 
}

.aside-title::after {
    position: absolute; 
    bottom: 0px;
    display: block;
    width: 60px;
    height: 1px;
    content: "";
    background-color: #BB945F;;
}

.book-info__book-title {
    color: #000000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book-info__author {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 20px;
    color: #000000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize; 
}

span.book-info__author {
    margin-right: 1.5px;
}

.book-info__book-desc {
    width: 357px;
    color: #000000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book-info__buy-button {
    position: absolute;
    bottom: 14px;
    box-sizing: content-box;
    padding: 7px 25.5px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    transition: 0.2s all;
}

.book-info__buy-button:enabled:hover {
    background: #BB945F;
    border: 1px solid #BB945F;
    border-radius: 2px;
    cursor: pointer;
}

.book-info__buy-button[data-isOwn="true"] {
    padding-right: 22px;
    color: #BB945F;
    border: 1px solid #BB945F;
    border-radius: 2px;
}

.book-caption__image-wrap {
    position: absolute;
    bottom: -1px;
    left: 389px;
    width: 200px;
    height: 300px;
}

/* favorites section end */
/* coffee shop start */
.coffee-shop-wrapper {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.coffee-shop__title {
    letter-spacing: 2px;
}

.coffee-shop__desc {
    margin-bottom: 40px;
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: lowercase;
}

span.letter-I {
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

span.letter-Y {
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cofee-shop__prices-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 70px;
    height: auto;
}

.coffee-shop__price-list {
    width: 439px;
    height: 100%;
}

.coffee-shop__price-list:nth-of-type(2) {
    width: 466px;
}



.cofee-shop__price-heading {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.cofee-shop__price-heading.desserts-and-cakes{
    text-align: right;
}

.coffee-shop__prices {
    display: flex;
    flex-direction: column;

}

.coffee-shop__prices-item.left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coffee-shop__prices-item.right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 216px;
}

.coffee-shop__prices-item.right .cofee-shop__item-price::before {
    left: -158px;
}

.cofee-shop__item-name {
    padding-top: 40px;
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.cofee-shop__item-price {
    position: relative;
    font-family: Forum;
    padding-top: 40px;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.cofee-shop__item-price::before {
    position: absolute;
    left: -160px;
    bottom: 20px;
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #BB945F;
    content: '';
}
.coffee-shop__prices-item.right .cofee-shop__item-price::before {
    left: -158px;
}

/* coffee shop end */
/* contacts start */
.contacts-wrapper {
    display: block;
    max-width: 100%;
    /* height: 555px; */
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
}

.contacts__info-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contacts__contact-info {
    /* flex-basis: 503px; */
    height: 100%;
    margin-right: 15px;
    margin-bottom: calc(419px - 380px);
}

.contact-info__telephone.text {
    line-height: 61px;
    margin-bottom: 29px;
}

.contacts__contact-info a {
    color: #000000;
    text-decoration: none;
}

.contacts__contact-info a:hover {
    color: #BB945F;
}

.title {
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contact-info__title {
    padding-bottom: 28px;
}

.text {
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text span {
    display: inline-block;
    margin-bottom: 20px;
}

.contact-info__senior {
    margin-bottom: 20px;
}

.text strong {
    font-weight: 700;
}

.contacts__map-wrap {
    display: flex;
    width: inherit;
    flex-basis: 50%;
    max-width: 687px;
    overflow: hidden;
}

.contacts__map {
    display: flex;
    width: 100%;
}

/* contacts end */
/* library cards start */
.library-cards__wrapper {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.library-cards__card-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 35px;
    width: 100%;
    padding-bottom: 40px;
}

.library-cards__card-info-wrapper#non-authorized {
    display: flex;
}

.library-cards__card-info-wrapper#authorized {
    display: none;
}

.library-cards__form-title {
    margin-bottom: 30px;
    color: #000000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
}

.library-cards__form-wrap {
    padding: 16px 17px 30px;;
    width: 600px;
    height: 386px;
    background: #ffffff;
    border: 3px solid #BB945F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
}

.library-cards__card {
    width: 100%;
    height: 272px;
    padding: 20px; 
    background-color: #BB945F;
}

fieldset.library-cards__card-search-form {
    margin-bottom: 20px;
    color: #000000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
    border: none;
}

.card-form__text-input {
    width: 100%;
    height: 68px;
    padding-top: 0px;
    padding-left: 20px;
    font-size: 30px;
    border: transparent;
    border-radius: 10px;
    background-color: #ffffff;
}

/* .card-form__text-input:first-of-type {
    margin-bottom: 23px
} */

.card-form__text-input::placeholder {
    padding-left: 0px;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.card-form__text-input:focus-visible {
    outline-color: #BB945F;
}

.card-form__text-input:nth-of-type(1) {
    margin-top: 20px;
    margin-bottom: 23px;
}

.card-form__text-input:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 25px;
}

.card-form__text-input.number-imput {
    text-transform: uppercase;
}

.card-form__submit-button {
    position: relative;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 40px;
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #ffffff;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    transition: 0.2s all;
}

.card-form__submit-button:hover, 
.card-form__submit-button:focus {
    background-color: #BB945F;
    border: 1px solid #BB945F;
    cursor: pointer;
}

.library-cards__reader-card-info-title {
    margin-bottom: 35px;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    line-height: normal;
    letter-spacing: 0.6px;
}

.library-cards__reader-card-info {
    width: 456px;
    margin-bottom: 35px;
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    line-height: 40px; 
    letter-spacing: 0.4px;
}
.library-cards__account-buttons {
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.library-cards__account-button {
    padding: 8px 18.5px;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #ffffff;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    transition: 0.2s all;
}

.sign-up-button {
    padding: 8px 14.5px;
}


.library-cards__account-button:hover, 
.library-cards__account-button:focus {
    background-color: #BB945F;
    border: 1px solid #BB945F;
    cursor: pointer;
}

#authorized .library-cards__card {
    margin-bottom: 15px;
}

#aithorized .library-cards__form-wrap {
    padding-top: 17px;
}

#authorized .library-cards__card-search-form {
    margin-bottom: 25px;
}

/* #authorized .card-form__text-output {
    display: block;
    color: #BB945F;
}  */

#authorized .card-form__text-output {
    display: block;
    color: #BB945F;
    width: 100%;
    height: 66px;
    padding-top: 8px;
    padding-left: 20px;
    font-size: 30px;
    border: transparent;
    border-radius: 10px;
    background-color: #ffffff;
}

#authorized .card-form__text-output::placeholder {
    padding-left: 0px;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 50px;
    letter-spacing: 0.6px;
}

#authorized .card-form__text-output:focus-visible {
    outline-color: #BB945F;
}

#authorized .card-form__text-output:nth-of-type(1) {
    margin-top: 20px;
    margin-bottom: 25px;
}

#authorized .card-form__text-output:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 25px;
}

#authorized .card-form__text-output.number-output {
    text-transform: uppercase;
}

#authorized .user-stats {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    width: 100%;
    height: auto;
}

                                           

#authorized .user-stats__visits {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0 5px 0 5px;

}

#authorized .user-stats__bonuses {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0 5px 0 5px;
}

#authorized .user-stats__books {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0 5px 0 5px;
}

#authorized .block-icon {
    width: 20px;
    height: 21px;
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
}

#authorized .block-header {
    display: block;
    margin-bottom: 1px;
    color: #000000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 20px; /* 200% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

#authorized .block-value {
    display: block;
    color: #000000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 20px; /* 200% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

#authorized .user-stats__visits-ico {
    align-self: center;
    background: url(../images/SVG/visits-icon.svg) no-repeat center;
    background-size: cover;
}

#authorized .user-stats__bonuses-ico {
    align-self: center;
    background: url(../images/SVG/bonuses-icon.svg) no-repeat center;
    background-size: cover;
}

#authorized .user-stats__books-ico {
    align-self: center;
    background: url(../images/SVG/books-icon.svg) no-repeat center;
    background-size: cover;
}

#authorized .library-cards__account-button {
    padding: 8px 18.5px;
}
/* library cards end */
/* Footer start */
footer {
    color: #ffffff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.footer-wrapper {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0C0C0E;
}

.footer__business-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff ;
}

.footer__contact-info {
    display: flex;
    flex-direction: column;
}

.footer__contact-info-text {
    margin-bottom: 18px;
    color: #ffffff ;
    text-decoration: none;
    transition: 0.2s all;
}

.footer__contact-info-text:hover, 
.footer__contact-info-text:focus {
    opacity: 0.6;
}

.footer__contact-info-socials {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: start;
}

.footer__contact-info-socials::marker {
    display: none;
}

.footer__socials {
    display: block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    padding: 5px;
    transition: 0.2s all;
}

.footer__socials:hover,
.footer__socials:focus{
    opacity: 0.6;
    cursor: pointer;
}

.tweeter {
    padding-left: 0px;
    background: url(../images/SVG/u_twitter-alt.svg) no-repeat center;
    background-size: contain;
}

.instagram {
    background: url(../images/SVG/u_instagram.svg) no-repeat center;
    background-size: contain;
}

.facebook {
    background: url(../images/SVG/u_facebook-f.svg) no-repeat center;
    background-size: contain;
}

.footer__working-hours-text {
    text-align: end;
}

.monday-friday {
    margin-bottom: 10px;
}

.footer__lesson-provider-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 129px;
    padding: 39px 0 39px 0;
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

.footer__year {
    padding: 5px 5px 5px 0;
}

.footer__school-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
}

.footer__user-name {
    padding: 5px 0px 5px 5px;
}

.footer-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s all;
}

.footer-link:hover {
    opacity: 0.6;
}
/* footer end */
/* MAX VIEW-PORT WIDTH 1235 */
@media screen and (max-width: 1235px) {
    .favorites__books {
        flex-direction: column;
        align-items: center;
    }
}

/* MAX VIEW-PORT WIDTH 1080 */
@media screen and (max-width: 1080px) {
    
    .contacts__info-wrap {
        flex-direction: column;
        row-gap: 60px;
    }

    .contacts__map-wrap {
        align-self: center;
    }
}

/* MAX VIEW-PORT WIDTH 1024 */

@media screen and (max-width: 1136px) {
    .library-cards__card-info-wrapper {
        flex-direction: column;
        align-items: center;
        column-gap: 20px;
        row-gap: 21px;
    }

    .library-cards__reader-card-info-title, .library-cards__reader-card-info {
        text-align: center;
    }

    .library-cards__account-buttons {
        justify-content: center;
    }

    .library-cards__reader-card-info {
       max-width: 600px; 
       width: auto;
    }
}
/* MAX VIEW-PORT WIDTH 1024 */
@media screen and (max-width: 1024px) {
    .header-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 332px;
        height: 570px;
        z-index: 10; 
        transform: translateX(100%);
        margin: 0;
        padding: 100px 107px;
        background-color: #0C0C0E;
        transition: .2s all linear;
    }

    .header-menu__header-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* должно появиться у nav при клике на бургер меню */
    .header-menu-active {
        transform: translateX(0);
    }

    .header-profile__caption, .header-profile__caption_auth {
        z-index: 11;
    }

    .header__burger {
        display: block;
    }

    .header__nav-close {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 27px;
        right: 20px;
        z-index: 11;
        
    }

    .header__nav-close-line {
        display: block;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .header__nav-close-line:first-child {
        transform: rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: rotate(-45deg);
    }


    /* должен появляться у контейнера с профилем при появлении бургер меню */
    .header-profile__caption-active {
        position: fixed;
        right: 0px;
    }

    .favorites__books {
        justify-content: center;
    }

    .coffee-shop-wrapper {
        margin-bottom: 60px
    }

    .cofee-shop__prices-wrap {
        flex-direction: column;
        row-gap: 40px;
    }

    .coffee-shop__price-list:nth-of-type(2) {
        align-self: end;
    }


    .footer__lesson-provider-info {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__school-name {
        position: relative;
        left: 0;
        transform: none;
    }
    
}

/* MAX VIEW-PORT WIDTH 878 */

@media screen and (max-width: 878px) {
    .footer__lesson-provider-info {
        justify-content: flex-end;
        row-gap: 20px;
    }

    .footer__year {
        margin: auto auto auto 0;
    }

   .footer__user-name {
    align-self: end;
   }
}