/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

/* Desctop-version */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

img {
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/* header start */
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #0C0C0E;
    color: #FFF;
}

.header-item {
    margin: 20px;
}

.header-title {
    margin: 20px auto 20px 20px;
}

.header-title__text {
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
   
}

ul {
    list-style-type: none;
}

.header-menu__header-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header-menu__link {
    color: #FFF;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    transition: .2s all;
}

.header-menu__link:hover {
   color: #BB945F;
}

/* header end */
/* intro start */
.intro__bg {
    min-height: 100%;
    position: relative;
    max-width: 100%;
    height: 600px;
    background: url(../images/Welcome.jpg) no-repeat, center;
    background-size: cover;
    margin-bottom: 20px;
}

.intro__welcome-wrapper {
    position: absolute;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    background-color: #0C0C0E;
    margin: 220px auto 160px 0;
}

.intro__welcome-text {
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* intro end */

/* about start */
.about-wrapper {
    display: block;
    max-width: 100%;
    height: 817px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.section-title {
    position: relative;
    text-align: center;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 61px;
}

.section-title::after {
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;

}

.about__desc{
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    margin-bottom: 20px;
}

.about__carousel {
    position: relative;
    display: flex;
    overflow: hidden;
    max-width: calc((450px * 3) + (25px * 2));
    height: calc(675px - 20px);
    /* background-color: #BB945F; */
}

.about__carousel-images {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 560px ;
    width: auto;
    gap: 25px;
    justify-content: space-between;
    margin-bottom: 40px;

}

.about__carousel-img-container {
    height: 560px;
    width: 450px;
}

.image-1 {
    background: url(../images/image\ 1.jpg), lightgray 50% / cover no-repeat;
}

.image-2 {
    background: url(../images/image\ 2.jpg), lightgray 50% / cover no-repeat;
}

.image-3 {
    background: url(../images/image\ 3.jpg), lightgray 50% / cover no-repeat;
}

.image-4 {
    background: url(../images/image\ 4.jpg), lightgray 50% / cover no-repeat;
}

.image-5 {
    background: url(../images/image\ 5.jpg), lightgray 50% / cover no-repeat;
}

.carousel-pagination {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 26px);
    column-gap: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 78px;
    height: 26px;

}

.pagination-element-wrap {
    width: 26px;
    height: 26px;
    padding: 5px;

}

.carousel-pagination-element {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    justify-self: center;
}

.carousel-pagination-element[data-current="true"] {
    background-color: #BB945F;
}

/* about end */
/* faforites section start */
.favorites-wrapper {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.form-season__caption {
    border: none;
    margin-bottom: 35px;
}

.form-season__title {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}

.form-season__inputs {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, auto);
    justify-content: start;
    column-gap: 90px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-season__inputs label {
    padding: 5px;
    transition: .2s all;  
}

.form-season__inputs label:hover{
    cursor: pointer;
}

.form-season__inputs label:first-of-type {
    padding-left: 0px;
}

.form-season__inputs label:hover {
    color:  #BB945F;   
}

.form-season__radio[type="radio"] {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #000;
    margin-right: 20px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.form-season__radio[type="radio"]:checked {
    accent-color: #000;
}

.form-season__radio[type="radio"]:checked ~ span {
    font-weight: 700;
}

.form-season__radio[type="radio"]:hover {
    background-color: #BB945F;
    cursor: pointer;
}

.favorites__books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* column-gap: 220px; */
    column-gap: 40px;
    row-gap: 40px;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
    height: 1150px;
    padding-right: 40px;
}

.favorites__books#winter-picks {
    display: grid;
}

.favorites__books#spring-picks {
    display: none;
}
.favorites__books#summer-picks {
    display: none;
}
.favorites__books#autumn-picks {
    display: none;
}   

.books__book-caption {
    position: relative;
    display: block;
}

.book-caption__wrap {
    justify-self: start;
    position: relative;
    height: 555px;
    width: 550px;
    padding: 15px 15px 15px 20px;
    border: 1px solid rgb(61, 61, 61);


}

.book-caption__wrap:nth-child(2), .book-caption__wrap:nth-child(4) {
    justify-self: end;
    position: relative;
    height: 555px;
    width: 550px;
    padding: 15px 15px 15px 20px;
    border: 1px solid rgb(61, 61, 61);


}
.aside-title {
    position: relative;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.aside-title::after {
    display: block;
    position: absolute;
    bottom: 0px;
    content: '';
    width: 60px;
    height: 1px;
    background-color: #BB945F;;

}

.book-info__book-title {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book-info__author {
    display: inline-block;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.book-info__book-desc {
    color: #000;
    width: 355px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    /* margin-bottom: 10px; */
}

.book-info__buy-button {
    position: absolute;
    bottom: 15px;
    box-sizing: content-box;
    background-color: transparent;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 27px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
}

.book-info__buy-button:enabled:hover {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
    cursor: pointer;
}

.book-info__buy-button[data-isOwn="true"] {
    color: #BB945F;
    border-radius: 2px;
    border: 1px solid #BB945F;
}

.book-caption__image-wrap {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: -2px;
    left: 390px;
}

/* favorites section end */
/* coffee shop start */
.coffee-shop-wrapper {
    display: block;
    max-width: 100%;
    height: 821px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.coffee-shop__desc {
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: lowercase;
    margin-bottom: 40px;
}

span.letter-I {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

span.letter-Y {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cofee-shop__prices-wrap {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    height: 520px;
}

.coffee-shop__price-list.cofee-and-tea {
    width: 448px;
    height: 100%;
} 

.coffee-shop__price-list.deserts-and-cakes{
    width: 471px;
    height: 100%;
}

table {
    width: 100%;
    /* border: 1px solid gray; */
}

.price-list thead{
    text-align: left;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

tbody td, tbody th {
    padding-top: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    /* border: 1px solid gray; */ 
}

.cofee-and-tea th {
    text-align: left;
}

.cofee-and-tea tbody tr td:last-child {
    text-align: right;
    font-family: Forum;
    width: 21px;
    box-sizing: content-box;
    padding-left: 60px;
}

.cofee-and-tea tbody tr td:nth-child(2) {
    position: relative;
    text-align: right;
    box-sizing: content-box;
    padding-left: 60px;
}

.dash {
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #BB945F;
    margin-bottom: 5px;
}

.deserts-and-cakes th{
    text-align: right;
}

.deserts-and-cakes tbody tr td:last-child {
    text-align: right;
    font-family: Forum;
    width: 31px;
    box-sizing: content-box;
    padding-left: 60px;
}

.deserts-and-cakes tbody tr td:nth-child(2) {
    position: relative;
    text-align: right;
    box-sizing: content-box;
    padding-left: 60px;
}

/* coffee shop end */
/* contacts start */
.contacts-wrapper {
    display: block;
    max-width: 100%;
    height: 555px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.contacts__info-wrap {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 414px;
}

.contacts__contact-info {
    flex-basis: 503px;
    height: 100%;
}

.contacts__contact-info a {
    color: #BB945F;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contact-info__title {
    padding-bottom: 40px;
}

.text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text span {
    display: inline-block;
    margin-bottom: 20px;
}

.contact-info__senior {
    margin-bottom: 20px;
}

.text strong {
    font-weight: 700;
}

.contacts__map-wrap {
    overflow: hidden;
    flex-basis: 50%;
    height: 100%;
}

/* contacts end */
/* library cards start */
.library-cards__wrapper {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.library-cards__card-info-wrapper {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.library-cards__card-info-wrapper#non-authorized {
    display: grid;
}

.library-cards__card-info-wrapper#authorized {
    display: none;
}

.library-cards__form-title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
}

.library-cards__form-wrap {
    padding: 20px 20px 30px 20px;
    border: 3px solid #BB945F;
    background: #FFF;
    width: 600px;
    height: 386px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.library-cards__card {
    width: 100%;
    height: 272px;
    background-color: #BB945F;
    padding: 20px; 
}

fieldset.library-cards__card-search-form {
    border: none;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.card-form__text-input {
    width: 100%;
    height: 60px;
    font-size: 30px;
    padding-top: 0px;
    border: transparent;
    border-radius: 10px;
    background-color: #FFF;
    padding-left: 20px;
}

.card-form__text-input::placeholder {
    text-transform: none;
    padding-left: 0px;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.card-form__text-input:focus-visible {
    outline-color: #BB945F;
}

.card-form__text-input:nth-of-type(1) {
    margin-top: 20px;
    margin-bottom: 25px;
}

.card-form__text-input:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 25px;
}

.card-form__text-input.number-imput {
    text-transform: uppercase;
}

.card-form__submit-button {
    position: relative;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 40px;
    background-color: #FFF;
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    transition: .2s all;
}

.card-form__submit-button:hover, .card-form__submit-button:focus {
    background-color: #BB945F;
    border: 1px solid #BB945F;
    cursor: pointer;
}

.library-cards__reader-card-info-title {
    color: #000;
    text-align: right;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 33px;
}

.library-cards__reader-card-info {
    width: 456px;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
    margin-bottom: 35px;
}
.library-cards__account-buttons {
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.library-cards__account-button {
    padding: 10px 40px;
    background-color: #FFF;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transition: .2s all;
}

.library-cards__account-button:hover, .library-cards__account-button:focus {
    background-color: #BB945F;
    border: 1px solid #BB945F;
    cursor: pointer;
}

#authorized .library-cards__card {
    margin-bottom: 15px;
}

#authorized .library-cards__card-search-form {
    margin-bottom: 25px;
}

#authorized .card-form__text-input {
    color: #BB945F;
} 

#authorized .user-stats {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    column-gap: 25px;
}

#authorized .user-stats__visits {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0 5px 0 5px;

}

#authorized .user-stats__bonuses {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0 5px 0 5px;
}

#authorized .user-stats__books {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0 5px 0 5px;
}

#authorized .block-icon {
    width: 20px;
    height: 21px;
    margin: 0;
    padding: 0;
}

#authorized .block-header {
    display: block;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 200% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

#authorized .block-value {
    display: block;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 200% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

#authorized .user-stats__visits-ico {
    background: url(../images/SVG/visits-icon.svg) no-repeat center;
    background-size: cover;
    align-self: center;
}

#authorized .user-stats__bonuses-ico {
    background: url(../images/SVG/bonuses-icon.svg) no-repeat center;
    background-size: cover;
    align-self: center;
}

#authorized .user-stats__books-ico {
    background: url(../images/SVG/books-icon.svg) no-repeat center;
    background-size: cover;
    align-self: center;
}

/* library cards end */
/* Footer start */
footer {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.footer-wrapper {
    background-color: #0C0C0E;
    display: block;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.footer__business-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff ;
}

.footer__contact-info {
    display: flex;
    flex-direction: column;
}

.footer__contact-info-text {
    color: #fff ;
    text-decoration: none;
    margin-bottom: 13px;

    transition: .2s all;
}

.footer__contact-info-text:hover, .footer__contact-info-text:focus {
    opacity: .6;
}

.footer__contact-info-socials {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: start;
}

.footer__contact-info-socials::marker {
    display: none;
}

.footer__socials {
    display: block;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    padding: 5px;
    transition: .2s all;
}

.footer__socials:hover, .footer__socials:focus{
    opacity: .6;
    cursor: pointer;
}

.tweeter {
    background: url(../images/SVG/u_twitter-alt.svg) no-repeat center;
    block-size: cover;
    padding-left: 0px;
}

.instagram {
    background: url(../images/SVG/u_instagram.svg) no-repeat center;
    block-size: cover;
}

.facebook {
    background: url(../images/SVG/u_facebook-f.svg) no-repeat center;
    block-size: cover;
}

.footer__working-hours-text {
    text-align: end;
}

.monday-friday {
    margin-bottom: 10px;
}

.footer__lesson-provider-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 39px 0 39px 0;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

.footer__year {
    padding: 5px 5px 5px 0;
}

.footer__school-name {
    position: absolute;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.footer__user-name {
    padding: 5px 0px 5px 5px;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    transition: .2s all;
}

.footer-link:hover {
    opacity: .6;
}
/* footer end */